{% extends "head.html" %}

{% block body %}
<body>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <form action="{{ route }}" method="post">
                    <div style="display:-webkit-box;width:100%;margin-bottom:2%">
                        <h1>{{ title }}</h1>
                        <button style="margin-left:47.5em;border-width: 2px;" type="button" onclick="change_row_visibility(true);" class="btn btn-outline-success">Nova peça</button>
                    </div>
                    <table>
                        <thead>
                        <tr class="table100-head">
                            <th class="column1">Peça</th>
                            <th class="column1">Modelo</th>
                            <th class="column3">Valor</th>
                            <th class="column3">Quantidade</th>
                            <th class="column3">Categoria</th>
                            <th class="column3">Original</th>
                            <th class="column6"></th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                            {% include "auto_parts_table_body.html" %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

{% endblock %}