<!-- New row -->
    <tr id='new-row' style="font-size: 0.9em;display:none;background: #bae4ba;">
        <!-- Model -->
        <td class="column1">
            <input type="text" class="hidden-field sm3x-size-field" name="descricao" value="{{model}}" id="col1" />
        </td>
        <!-- Model combo box -->
        <td class="column1" style="display: -webkit-inline-box; top: 0.4em;">
            <!-- Model value to be updated -->
            <input type="hidden" value="1" name="cod_modelo" id="col2">
            <span id="col7" class="sm2x-size-field">
                <!-- Query model field -->
                <select class="custom-select models sm2x-size-field" id="models" onchange="new_option_field(this, '', '#new-model', '#delete-model', '#col2', 'modelos');" style="width:80%;">
                    {% include "combo_box_template.html" %}
                </select>
            </span>
        </td>
        <!-- Value -->
        <td class="column3">
            <input type="number" class="hidden-field sm2x-size-field" style="width: 5.5em;" name="valor" id="col3" />
        </td>
        <!-- Quantity -->
        <td class="column3">
            <input type="number" class="hidden-field sm-size-field" name="quantidade" id="col4" />
        </td>
        <!-- Category -->
        <td class="column3">
            <input type="text" class="hidden-field sm2x-size-field" name="categoria" id="col5" />
        </td>
        <!-- É original -->
        <td class="column3">
            <input type="checkbox" value="false" onclick="set_checkbox_value(this);" class="hidden-field sm-size-field" name="e_original" id="col6" />
        </td>
        <td class="actions-column column6" >
            <!-- Cancel -->
            <span id="cancel-new" onclick="change_row_visibility(false)">
                <img class="actions-icon" src="{{ url_for('static', filename='images/cancel.png') }}" />
            </span>
            <!-- Save -->
            <span id="save-new" onclick="insert_row('pecas', 6)">
                <img class="actions-icon" src="{{ url_for('static', filename='images/save.png') }}" />
            </span>
        </td>
    </tr>
<!-- Query rows -->
{% for auto_part_id, auto_part, value, quantity, category, is_original, model_id, model, brand in rows: %}
    <tr style="font-size: 0.9em;">
        <!-- Auto Part -->
        <td class="column1">
            <span style="display:block;" class="visible-field-{{auto_part_id}} sm3x-size-field">{{auto_part}}</span>
            <input type="text" class="hidden-field sm3x-size-field" name="descricao" value="{{auto_part}}" id="col1-{{auto_part_id}}" />
        </td>
        <!-- Model combo box -->
        <td class="column1" style="display: -webkit-inline-box; top: 0.4em;">
            <span class="visible-field-{{auto_part_id}} sm2x-size-field">{{brand}} {{model}}</span>
            <!-- Model value to be updated -->
            <input type="hidden" value="{{model_id}}" name="cod_modelo" id="col2-{{auto_part_id}}">
            <!-- Query model field -->
            <span id="col7-{{auto_part_id}}" style="display: none;">
                <select class="custom-select models sm2x-size-field" id="models-query" onchange="new_option_field(this, '', '#new-model-query', '#delete-model-query', '#col2-{{auto_part_id}}', 'modelos');" style="width:80%;">
                    {% with default=model_id %}
                        {% include "combo_box_template.html" %}
                    {% endwith %}
                </select>
            </span>
        </td>
        <!-- Value -->
        <td class="column3">
            <span class="visible-field-{{auto_part_id}} sm2x-size-field" style="width: 5.5em; display: block;">{{value}}</span>
            <input type="number" class="hidden-field sm2x-size-field" style="width: 5.5em;" name="valor" value="{{value}}" id="col3-{{auto_part_id}}" />
        </td>
        <!-- Quantity -->
        <td class="column3">
            <span style="display:block;" class="visible-field-{{auto_part_id}} sm-size-field">{{quantity}}</span>
            <input type="number" class="hidden-field sm-size-field" name="quantidade" value="{{quantity}}" id="col4-{{auto_part_id}}" />
        </td>
        <!-- Category -->
        <td class="column3">
            <span style="display:block;" class="visible-field-{{auto_part_id}} sm2x-size-field">{{category}}</span>
            <input type="text" class="hidden-field sm2x-size-field" name="categoria" value="{{category}}" id="col5-{{auto_part_id}}" />
        </td>
        <!-- Is original -->
        {% if is_original: %}
        {%   set checkbox_flag = 'checked' %}
        {% else: %}
        {%   set checkbox_flag = '' %}
        {% endif %}
        <td class="column3">
            <input type="checkbox" disabled style="display:block;" class="visible-field-{{auto_part_id}} sm-size-field" {{checkbox_flag}} />
            <input type="checkbox" onclick="set_checkbox_value(this);" value="false" class="hidden-field sm-size-field" name="e_original" id="col6-{{auto_part_id}}" />
        </td>
        <td class="actions-column column6">
            <!-- Edit -->
            <span id="edit-{{auto_part_id}}" onclick="change_fields_visibility('{{auto_part_id}}', true)">
                <img class="actions-icon" src="{{ url_for('static', filename='images/edit.png') }}" />
            </span>
            <!-- Delete -->
            <span id="delete-{{auto_part_id}}" onclick="delete_row('pecas', 'cod_peca', '{{auto_part_id}}')">
                <img class="actions-icon" src="{{ url_for('static', filename='images/delete.png') }}" />
            </span>
            <!-- Cancel -->
            <span id="cancel-{{auto_part_id}}" onclick="change_fields_visibility('{{auto_part_id}}', false)" style="display: none;">
                <img class="actions-icon" src="{{ url_for('static', filename='images/cancel.png') }}" />
            </span>
            <!-- Save -->
            <span id="save-{{auto_part_id}}" onclick="update_row('{{auto_part_id}}', 'pecas', 'cod_peca', 6, 'int8')" style="display: none;">
                <img class="actions-icon" src="{{ url_for('static', filename='images/save.png') }}" />
            </span>
        </td>
    </tr>
{% endfor %}