<!-- New row -->
    <tr id='new-row' style="font-size: 0.9em;display:none;background: #bae4ba;">
        <td class="column1"><input type="text" name="nome" id="col1" /></td>
        <td class="column2"><input type="text" name="cpf" id="col2" /></td>
        <td class="column2"><input type="text" name="telefone" id="col3" /></td>
        <td class="column2"><input type="text" name="logradouro" id="col4" /></td>
        <td class="column2"><input type="text" name="bairro" id="col5" /></td>
        <td class="column2"><input type="text" name="cep" id="col6" /></td>
        <td class="actions-column column6" >
            <!-- Cancel -->
            <span id="cancel-new" onclick="change_row_visibility(false)">
                <img class="actions-icon" src="{{ url_for('static', filename='images/cancel.png') }}" />
            </span>
            <!-- Save -->
            <span id="save-new" onclick="insert_row('clientes', 6)">
                <img class="actions-icon" src="{{ url_for('static', filename='images/save.png') }}" />
            </span>
        </td>
    </tr>
<!-- Query rows -->
{% for cpf, telefone, logradouro, bairro, cep, nome in rows: %}
    <tr style="font-size: 0.9em;">
        <td class="column1">
            <span class="visible-field-{{cpf}}">{{nome}}</span>
            <input type="text" class="hidden-field" name="nome" value="{{nome}}" id="col1-{{cpf}}" />
        </td>
        <td class="column2">
            <span class="visible-field-{{cpf}}">{{cpf}}</span>
            <input type="hidden" name="old_cpf" value="{{cpf}}" id="col7-{{cpf}}" />
            <input type="text" class="hidden-field" name="cpf" value="{{cpf}}" id="col2-{{cpf}}" />
        </td>
        <td class="column2">
            <span class="visible-field-{{cpf}}">{{telefone}}</span>
            <input type="text" class="hidden-field center-align" name="telefone" value="{{telefone}}" id="col3-{{cpf}}" />
        </td>
        <td class="column2">
            <span class="visible-field-{{cpf}}">{{logradouro}}</span>
            <input type="text" class="hidden-field center-align" name="logradouro" value="{{logradouro}}" id="col4-{{cpf}}" />
        </td>
        <td class="column2">
            <span class="visible-field-{{cpf}}">{{bairro}}</span>
            <input type="text" class="hidden-field center-align" name="bairro" value="{{bairro}}" id="col5-{{cpf}}" />
        </td>
        <td class="column2">
            <span class="visible-field-{{cpf}}">{{cep}}</span>
            <input type="text" class="hidden-field center-align" name="cep" value="{{cep}}" id="col6-{{cpf}}" />
        </td>
        <td class="actions-column column6">
            <!-- Edit -->
            <span id="edit-{{cpf}}" onclick="change_fields_visibility('{{cpf}}', true)">
                <img class="actions-icon" src="{{ url_for('static', filename='images/edit.png') }}" />
            </span>
            <!-- Delete -->
            <span id="delete-{{cpf}}" onclick="delete_row('clientes', 'cpf', '{{cpf}}', '#tbody')">
                <img class="actions-icon" src="{{ url_for('static', filename='images/delete.png') }}" />
            </span>
            <!-- Cancel -->
            <span id="cancel-{{cpf}}" onclick="change_fields_visibility('{{cpf}}', false)" style="display: none;">
                <img class="actions-icon" src="{{ url_for('static', filename='images/cancel.png') }}" />
            </span>
            <!-- Save -->
            <span id="save-{{cpf}}" onclick="update_row('{{cpf}}', 'clientes', 'cpf', 6, false)" style="display: none;">
                <img class="actions-icon" src="{{ url_for('static', filename='images/save.png') }}" />
            </span>
        </td>
    </tr>
{% endfor %}