<!-- Query rows -->
{% for tunning_id, customer_id, customer, vehicle_id, vehicle, date, date_edit, value, quotas in rows: %}
    <tr style="font-size: 0.7em;" class="clickable" data-toggle="collapse" data-target=".details-{{tunning_id}}">
        <!-- Tunning id -->
        <td class="column1">
           <span style="display:block;" class="sm-size-field">{{tunning_id}}</span>
        </td>
        <!-- Customer -->
        <td class="column1">
           <span style="display:block;" class="sm3x-size-field">{{customer}}</span>
        </td>
        <!-- Vehicle -->
        <td class="column3">
            <span class="sm2x-size-field" style="display: block;">{{vehicle}}</span>
        </td>
        <!-- Date -->
        <td class="column3">
            <span style="display:block;" class="sm-center-field">{{date}}</span>
        </td>
        <!-- Value -->
        <td class="column2">
            <span style="display:block;" class="sm-center-field" >R$ {{value}}</span>
        </td>
        <td class="actions-column column6">
            <!-- Edit -->
            <span id="edit-{{plate}}" style="z-index:9999;">
                <a href="/nova-personalizacao?tunning_id={{tunning_id}}&customer={{customer_id}}&vehicle={{vehicle_id}}&date={{date_edit}}&quotas={{quotas}}&value={{value}}">
                    <img class="actions-icon" src="{{ url_for('static', filename='images/edit.png') }}" />
                </a>
            </span>
            <!-- Delete -->
            <span id="delete-{{plate}}" style="z-index:9999;" onclick="delete_row('personalizacoes', 'cod_personalizacao', '{{tunning_id}}')">
                <img class="actions-icon" src="{{ url_for('static', filename='images/delete.png') }}" />
            </span>
        </td>
    </tr>
    {% set x = loop.index-1 %}
    <!-- Services details -->
    {% if services_details[x] %}
        {% for detail in services_details[x] %}
        <tr class="details collapse details-{{tunning_id}}">
            <td class="column1" colspan="6">
                <span><b>Serviço</b>: {{detail[1]}}</span>
                <span><b>Valor</b>: {{detail[2]}}</span>
                <span><b>Mecânico</b>: {{detail[3]}}</span>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
    <!-- Parts details -->
    {% if parts_details[x] %}
        {% for detail in parts_details[x] %}
        <tr class="details collapse details-{{tunning_id}}">
            <td class="column1" colspan="6">
                <span><b>Peça</b>: {{detail[1]}}</span>
                <span><b>Valor</b>: {{detail[2]}}</span>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
{% endfor %}