{% extends "head.html" %}

{% include "header-menu.html" %}

{% block body %}
<body>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <form action="{{ route }}" method="post">
                    <div style="display:inline-flex;width:100%;margin-bottom:2%">
                        <h1>{{ title }}</h1>
                        <button style="margin-left:49em;border-width: 2px;" type="button" onclick="change_row_visibility(true);" class="btn btn-outline-success">Novo modelo</button>
                    </div>
                    <table>
                        <thead>
                        <tr class="table100-head">
                            <th class="column1">Marca</th>
                            <th class="column1">Modelo</th>
                            <th class="column3">Tipo</th>
                            <th class="column3">Motor</th>
                            <th class="column3">Ano</th>
                            <th class="column3">Importado</th>
                            <th class="column6"></th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                            {% include "vehicles_models_table_body.html" %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

{% endblock %}