<!-- New row -->
    <tr id='new-row' style="font-size: 0.9em;display:none;background: #bae4ba;">
        <!-- Brand combo box -->
        <td class="column1" style="display: -webkit-inline-box; top: 0.4em;">
            <!-- Brand value to be updated -->
            <input type="hidden" value="1" name="cod_marca" id="col1">
            <span id="col7" class="sm2x-size-field">
                <!-- New brand field -->
                <span id="new-brand" style="display:none;">
                    <input type="text" id='new-brand-value' name="new-brand" style="display: inline;" />
                    <!-- Cancel -->
                    <span id="cancel-new-brand" onclick="swap_elements_visibility('#new-brand', '#brands');" style="display: inline;bottom: 0.2em;">
                        <img class="actions-icon" src="{{ url_for('static', filename='images/cancel.png') }}" />
                    </span>
                    <!-- Save -->
                    <span id="save-new-brand" onclick="insert_combo_value('marcas', 'cod_marca', 'descricao', $('#new-brand-value').val(), '.brands'); swap_elements_visibility('#new-brand', '#brands');" style="display: inline;bottom: 0.2em;">
                        <img class="actions-icon" src="{{ url_for('static', filename='images/save.png') }}" />
                    </span>
                </span>
                <!-- Query brand field -->
                <select class="custom-select brands sm2x-size-field" id="brands" onchange="new_option_field(this, '#brands', '#new-brand', '#delete-brand', '#col1');" style="width:80%;">
                    {% include "combo_box_template.html" %}
                </select>
                <!-- Delete -->
                <span id="delete-brand" onclick="delete_combo_value('marcas', 'cod_marca', 'descricao', $('#brands-query').children('option:selected').val(), '.brands')" style="display:inline;">
                    <img class="actions-icon" src="{{ url_for('static', filename='images/delete.png') }}" />
                </span>
            </span>
        </td>
        <!-- Model -->
        <td class="column1">
            <input type="text" class="hidden-field sm2x-size-field" name="descricao" value="{{model}}" id="col2" />
        </td>
        <!-- Type -->
        <td class="column3">
            <input type="text" class="hidden-field sm2x-size-field" name="tipo" value="{{type or ''}}" id="col3" />
        </td>
        <!-- Motor -->
        <td class="column3">
            <input type="text" class="hidden-field sm-size-field" name="motor" value="{{motor}}" id="col4" />
        </td>
        <!-- Year -->
        <td class="column3">
            <input type="text" class="hidden-field sm-size-field" name="ano_modelo" value="{{year}}" id="col5" />
        </td>
        <td class="column3">
            <input type="checkbox" value="false" onclick="set_checkbox_value(this);" class="hidden-field sm-size-field" name="e_importado" id="col6" />
        </td>
        <td class="actions-column column6" >
            <!-- Cancel -->
            <span id="cancel-new" onclick="change_row_visibility(false)">
                <img class="actions-icon" src="{{ url_for('static', filename='images/cancel.png') }}" />
            </span>
            <!-- Save -->
            <span id="save-new" onclick="insert_row('modelo', 6)">
                <img class="actions-icon" src="{{ url_for('static', filename='images/save.png') }}" />
            </span>
        </td>
    </tr>
<!-- Query rows -->
{% for model_id, model, type, motor, year, is_foreign, brand_id, brand in rows: %}
    <tr style="font-size: 0.9em;">
        <!-- Brand combo box -->
        <td class="column1" style="display: -webkit-inline-box; top: 0.4em;">
            <span class="visible-field-{{model_id}} sm2x-size-field">{{brand}}</span>
            <!-- Brand value to be updated -->
            <input type="hidden" value="{{brand_id}}" name="cod_marca" id="col1-{{model_id}}">
            <span id="col7-{{model_id}}" class="sm2x-size-field" style="display: none;">
                <!-- New brand field -->
                <span id="new-brand-query" style="display:none;">
                    <input type="text" id='new-brand-query-value' name="new-brand" style="display: inline;" />
                    <!-- Cancel -->
                    <span id="cancel-new-brand-query" onclick="swap_elements_visibility('#new-brand-query', '#brands-query');" style="display: inline;bottom: 0.2em;">
                        <img class="actions-icon" src="{{ url_for('static', filename='images/cancel.png') }}" />
                    </span>
                    <!-- Save -->
                    <span id="save-new-brand-query" onclick="insert_combo_value('marcas', 'cod_marca', 'descricao', $('#new-brand-query-value').val(), '.brands'); swap_elements_visibility('#new-brand-query', '#brands-query');" style="display: inline;bottom: 0.2em;">
                        <img class="actions-icon" src="{{ url_for('static', filename='images/save.png') }}" />
                    </span>
                </span>
                <!-- Query brand field -->
                <select class="custom-select brands sm2x-size-field" id="brands-query" onchange="new_option_field(this, '#brands-query', '#new-brand-query', '#delete-brand-query', '#col1-{{model_id}}');" style="width:80%;">
                    {% with default=brand_id %}
                        {% include "combo_box_template.html" %}
                    {% endwith %}
                </select>
                <!-- Delete -->
                <span id="delete-brand-query" onclick="delete_combo_value('marcas', 'cod_marca', 'descricao', $('#brands-query').children('option:selected').val(), '.brands')" style="display:inline;">
                    <img class="actions-icon" src="{{ url_for('static', filename='images/delete.png') }}" />
                </span>
            </span>
        </td>
        <!-- Model -->
        <td class="column1">
            <span style="display:block;" class="visible-field-{{model_id}} sm2x-size-field">{{model}}</span>
            <input type="text" class="hidden-field sm2x-size-field" name="descricao" value="{{model}}" id="col2-{{model_id}}" />
        </td>
        <!-- Type -->
        <td class="column3">
            <span class="visible-field-{{model_id}} sm2x-size-field" style="display: block;">{{type or ''}}</span>
            <input type="text" class="hidden-field sm2x-size-field" name="tipo" value="{{type or ''}}" id="col3-{{model_id}}" />
        </td>
        <!-- Motor -->
        <td class="column3">
            <span style="display:block;" class="visible-field-{{model_id}} sm-size-field">{{motor}}</span>
            <input type="text" class="hidden-field sm-size-field" name="motor" value="{{motor}}" id="col4-{{model_id}}" />
        </td>
        <!-- Year -->
        <td class="column3">
            <span style="display:block;" class="visible-field-{{model_id}} sm-size-field">{{year}}</span>
            <input type="text" class="hidden-field sm-size-field" name="ano_modelo" value="{{year}}" id="col5-{{model_id}}" />
        </td>
        <!-- Is foreign -->
        {% if is_foreign: %}
        {%   set checkbox_flag = 'checked' %}
        {% else: %}
        {%   set checkbox_flag = '' %}
        {% endif %}
        <td class="column3">
            <input type="checkbox" disabled style="display:block;" class="visible-field-{{model_id}} sm-size-field" {{checkbox_flag}} />
            <input type="checkbox" onclick="set_checkbox_value(this);" value="false" class="hidden-field sm-size-field" name="e_importado" id="col6-{{model_id}}" />
        </td>
        <td class="actions-column column6">
            <!-- Edit -->
            <span id="edit-{{model_id}}" onclick="change_fields_visibility('{{model_id}}', true)">
                <img class="actions-icon" src="{{ url_for('static', filename='images/edit.png') }}" />
            </span>
            <!-- Delete -->
            <span id="delete-{{model_id}}" onclick="delete_row('modelo', 'cod_modelo', '{{model_id}}')">
                <img class="actions-icon" src="{{ url_for('static', filename='images/delete.png') }}" />
            </span>
            <!-- Cancel -->
            <span id="cancel-{{model_id}}" onclick="change_fields_visibility('{{model_id}}', false)" style="display: none;">
                <img class="actions-icon" src="{{ url_for('static', filename='images/cancel.png') }}" />
            </span>
            <!-- Save -->
            <span id="save-{{model_id}}" onclick="update_row('{{model_id}}', 'modelo', 'cod_modelo', 6, 'int8')" style="display: none;">
                <img class="actions-icon" src="{{ url_for('static', filename='images/save.png') }}" />
            </span>
        </td>
    </tr>
{% endfor %}