{% extends "head.html" %}

{% include "header-menu.html" %}

{% block body %}

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100" style="text-align: center;">
            <div class="table100">
                    <div style="margin-bottom: 5%;" id="index-title">
                        <h1 style="">BLIP | Conteúdos multimídias</h1>
                    </div>
                    <button type="submit" class="index-buttons btn btn-outline-secondary">
                        <a href="{{ url_for('images_page') }}">IMAGENS</a>
                    </button><br><br>
                    <button type="submit" disabled class="index-buttons btn btn-outline-secondary">
                        <a href="{{ url_for('index') }}">VÍDEOS</a>
                    </button><br><br>
                    <button type="submit" disabled class="index-buttons btn btn-outline-secondary">
                        <a href="{{ url_for('index') }}">ÁUDIOS</a>
                    </button><br><br>
            </div>
        </div>
    </div>
</div>

{% endblock %}