{% extends "head.html" %}

{% include "header-menu.html" %}

{% block body %}

<script>

</script>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
				<div style="margin-bottom: 5%;" id="index-title">
					<h2 style="">{{ title }}</h2>
				</div>
				<p>
					{% with messages = get_flashed_messages() %}
					  {% if messages %}
						<ul class=flashes>
						{% for message in messages %}
						  <li>{{ message }}</li>
						{% endfor %}
						</ul>
					  {% endif %}
					{% endwith %}
				</p><br>

				<form id="up-file-form" method="post" onsubmit="{{ submit_route }}" enctype="multipart/form-data">
					<dl>
						<input type="file" name="file" id="file_input" autocomplete="off">
						<div id="warning" style="color: red;display: none;">O tamanho do arquivo é maior que o limite de upload de <b>35mb</b>!</div>
						<span style="font-style: italic; font-size: smaller; color: gray;">
							Tamanho máximo permitido: <b>35mb</b>
						</span>
						<br><br>

						<span class="input-group-text" id="inputGroup-sizing-default">Assunto</span><br>
						<select class="custom-select subjects" id="subjects" onchange="set_hidden_value(this, '#subject');new_subject(this, '#new-subject', '#delete')" style="width:30%;" aria-describedby="inputGroup-sizing-default">
							{% include "combo_box_template.html" %}
						</select>
						<!-- Delete -->
						<span class="actions-icon" id="delete" onclick="delete_row('subjects', 'id', '#subjects')" style="display:inline;">
							<img class="actions-icon" src="{{ url_for('static', filename='images/delete.png') }}" />
						</span>
						<input type="hidden" name="subject" id="subject" />

						<!-- New subject field -->
						<span id="new-subject" style="display:none;">
							<input type="text" id='new-subject-value' name="new-subject" style="display: inline;" />
							<!-- Cancel -->
							<span class="new-field-actions" id="cancel" onclick="swap_elements_visibility('#new-subject', '#subjects');" style="display: inline;bottom: 0.2em;">
								<img class="actions-icon" src="{{ url_for('static', filename='images/cancel.png') }}" />
							</span>
							<!-- Save -->
							<span class="new-field-actions" id="save" onclick="insert_combo_subjects_value(); swap_elements_visibility('#new-subject', '#subjects');" style="display: inline;bottom: 0.2em;">
								<img class="actions-icon" src="{{ url_for('static', filename='images/save.png') }}" />
							</span>
						</span>
						<br><br>

					    <span class="input-group-text" id="inputGroup-sizing-default2">Descrição</span>
						<input type="text" id="description" name="description" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default2"><br>

						<span class="input-group-text" id="inputGroup-sizing-default3">Tipo de arquivo</span><br>
						<select class="custom-select" onchange="set_hidden_value(this, '#table');" style="width:30%;" aria-describedby="inputGroup-sizing-default3">
							<option selected value="images">Imagem</option>
							<option value="videos">Vídeo</option>
							<option value="audios">Áudio</option>
						</select>
						<input type="hidden" name="table" value="images" id="table" />

					</dl><br><br>

					<button id="btn-submit" type="submit" value="submit" onclick="swap_elements_visibility('#btn-text', '#icon-loading')" style="border-width:3px;width: 25%;" class="btn btn-outline-info">
                        <a id="btn-text" style="color:unset">ENVIAR</a>
						<a id="icon-loading" style="width: 2%; margin-left: 1%; display:none;">
    						<img style="width: 35px;padding-right: 0.5em;" src="{{ url_for('static', filename='images/loading.gif') }}" alt="Please wait.." />
						</a>
                    </button>

				</form>
            </div>
        </div>
    </div>
</div>

<script>$('#subjects').trigger('change');</script>

{% endblock %}